::-webkit-scrollbar {
  width: 8px;
  border-radius: 50px;
}
/* ::-webkit-scrollbar-track {
  background-color: #38aefd;
} */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,#4c50e7, #38aefd);
  border-radius: 50px;
}
